<div class="d-flex justify-content-between align-items-center dialog-header">
  <span class="dialog-title">Cadastrar Paciente</span>
  <button mat-mini-fab color="primary" aria-label="Fechar" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <form (ngSubmit)="savePatient(form)" [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.controls.name.invalid">Nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email">
      <mat-error *ngIf="form.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="form.controls.password.invalid">Senha é obrigatório</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      <mat-error *ngIf="form.controls.email.invalid">email invalido</mat-error>
    </mat-form-field> -->
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
  </form>
</div>
