<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

    </div>
    <div class="col-md-4 login-box">
      <mat-card class="w-100">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <mat-error *ngIf="loginForm.controls.email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Senha</mat-label>
              <input matInput formControlName="password" type="password">
              <mat-error *ngIf="loginForm.controls.password.invalid">Senha é obrigatório</mat-error>
            </mat-form-field>
            <button [disabled]="loginForm.invalid" mat-raised-button color="primary">Login</button>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
              {{ error }}
            </div>
          </form>
        </div>
      </mat-card>
    </div>
  </div>
</div>
